@media (max-width: 768px) {
  #primary-menu-search{
    input[type="search"]{
      width: 80%;
      margin-right: 5px;
    }
  }
  .archive{
    article{
      .row{
        .col-sm-3{
          text-align: center;
        }
      }
    }
  }
  #commentform{
    width: 100%;
  }
}